<p style="color: green"><%= notice %></p>

<h1 class="title">Groceries</h1>

<%= form_with(url: groceries_path, method: :get, data: {turbo_frame: 'groceries'}) do |form| %>
  <%= form.label :query, "Search grocery items", class: "label" %>
<div class="container is-flex py-4">
  <%= form.text_field :query, class: "input mr-4" %>
  <%= form.submit "Search", class: "button has-background-warning has-text-primary-15-invert" %>
</div>
<% end %>

<div id="groceries">

</div>

<%= link_to "New grocery", new_grocery_path %>
